<footer id="footer" class="footer">
    <div class="copyright">
        <span>© <%= config.author %> | Powered by <a href="https://hexo.io" target="_blank">Hexo</a> & <a href="https://github.com/Siricee/hexo-theme-Chic" target="_blank">Chic</a></span>
    </div>
</footer>
<% if (theme.mermaid.enable) { %>
	<script src=" /js/mermaid.min.js"></script>
	<script>
	  if (window.mermaid) {
		mermaid.initialize({
						startOnLoad: true,
						theme: 'default',
						flowchart: {
							useMaxWidth: false,
							htmlLabels: true
						}
		});
	  }
	</script>
<% } %>